<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>ゲーム内容検査に反対する願い</title>
    <link rel="stylesheet" href="css/index.css" />
</head>